{% extends 'layouts/base.html' %}

{% block content %}
    <h2>Site simplão</h2>
    <div>
        <h3>Animes que já vi</h3>
        <ul>
            <li><a href="https://www.crunchyroll.com/pt-br/series/GY3VKX1MR/hunter-x-hunter">Hunter x Hunter</a></li>
            <li><a href="https://www.crunchyroll.com/pt-br/series/GRE50KV36/black-clover">Black Clover</a></li>
            <li><a href="https://www.crunchyroll.com/pt-br/series/GRMG8ZQZR/one-piece">One Piece</a></li>
            <li><a href="https://www.crunchyroll.com/pt-br/series/GRDV0019R/jujutsu-kaisen">Jujutsu Kaizen</a></li>
            <li><a href="https://www.crunchyroll.com/pt-br/series/G63VGG2NY/bleach">Bleach</a></li>
            <li><a href="https://www.crunchyroll.com/pt-br/series/GY9PJ5KWR/naruto">Naruto</a></li>
            <li><a href="https://www.crunchyroll.com/pt-br/series/GYQ4MW246/naruto-shippuden">Naruto Shippuden</a></li>
            
            {% for anime in animes %}
            <li><a href={{animes[anime]}}>{{anime}}</a></li>
            {% endfor %}
            
        </ul>
    </div>
    <div>
        <h3>Animes para ver</h3>
        <ul>
            <li><a href="https://www.crunchyroll.com/pt-br/series/GR3KVPQER/cells-at-work">Cells at work</a></li>
            <li><a href="https://www.crunchyroll.com/pt-br/series/G69PZ5PDY/overlord">Overlord</a></li>
            <li></li>
        </ul>
    </div>
    <div>
        <h3>Personagens preferidos</h3>
        <div id="Esquerda">
            <h4>Animes</h4>
            <ul>
                <li>Kilua - Hunter x Hunter</li>
            </ul>
        </div>
        <div id="Direita">
            <h4>Series</h4>
            <ul>
                <li>Arya Stark - Game of Thrones</li>
                <li>Harvey Spectre - Suits</li>
                <li>Shaun Murphy - The Good Doctor</li>
            </ul>
        </div>
    </div>
{% endblock %}

